.AnswerChoice {
    margin: 0;
    padding: 8px 0;
}
.AnswerChoice__list {
    list-style: none;
    padding: 22px 16px;
    background-color: rgba(0, 0, 0, 0.08);
}
.AnswerChoice__text {
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
}