@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
*, ::before, ::after {
    box-sizing: inherit;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}
.main {
	background-color: rgb(27, 43, 55);
	height: 100vh;
}
hr {
	margin: 0;
	color: rgb(0,0,0,0.2);
}