.Answer {
    margin-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
}
.Answer-List {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 5px #ccc;
    background-color: #fff;
}
.Answer-List__title {
    display: block;
    text-align: center;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

@media (min-width: 600px) {
    .Answer-List {
        max-width: 500px;
        
    }
    .Answer-List_left {
        margin-right: 0px;
    }
    .Answer-List_right {
        margin-left: 0px;
    }
}